modules = ["python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["gitFull", "gmp", "playwright-driver", "unzip", "xcodebuild", "zlib"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mady Bot"

[[workflows.workflow]]
name = "Mady Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd HeatherV2-2/SRCAndMore && python transferto.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
